.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

@media only screen and (max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}
#tables {
  display: block;
  margin: auto;
  height: 50vh;
  margin-top: 50px;
  background-color: white;
  padding: 20px;
  /* width: 80vw; */
  padding-bottom: 50px;
  margin-bottom: 40px;
}
.float {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.float button {
  background-color: rgb(125, 155, 255);
  padding: 0 10px;
}
